*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

/*navbar*/
.nav{
    background-color: #0b3d59;
    width: 100%;
}
.header-image{
    display: flex;
}
.header-image img{
    height: 70px;
    margin: 8px 0px 0px 20px;
    color: white;
}

.nav-center {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
}

.header-image p{
    color: white;
    padding: 24px 0px 0px 8px;
    text-align: center;
}
span{
    font-size: 20px;
}

.nav-header{
    display: flex;
    justify-content: space-between;
}

.logo-btn {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    margin: 0.5rem;
    cursor: pointer;
}

ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  .nav-links {
    display: none;
  }

  @media all and (min-width: 1000px){
    .logo-btn {
        display: none;
      }
      .nav-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        -webkit-column-gap: 2rem;
        -moz-column-gap: 2rem;
        column-gap: 1rem;
        justify-self: end;
      }
      .nav-link{
          background: #1a84d7;
          padding: 8px 8px;
          border-radius: 8px;
          transition: all 0.3s ease-in-out;
      }
      .nav-link:hover{
          background: #559ed7;
      }
      .nav-links a {
        text-transform: capitalize;
        color: white;
        font-weight: bold;
        letter-spacing: 0.5rem;
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s;
        border: none;
      }
      .nav-center {
        display: grid;
        grid-template-columns: auto 1fr;
        -webkit-box-align: center;
        align-items: center;
      }
  }
  @media screen and (min-width: 768px) {
    .logo-btn {
      display: none;
    }
    .nav-links {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 1rem;
      justify-self: end;
    }
    .nav-link{
        background: #1a84d7;
        padding: 8px 8px;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
    }
    .nav-link:hover{
        background: #559ed7;
    }
    .nav-links a {
      text-transform: capitalize;
      color: white;
      font-weight: bold;
      letter-spacing: 0.5rem;
      -webkit-transition: all ease 0.3s;
      transition: all ease 0.3s;
      border: none;
    }
    .nav-center {
      display: grid;
      grid-template-columns: auto 1fr;
      -webkit-box-align: center;
      align-items: center;
    }
  }


  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0b3d59;
    z-index: 2;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
  }
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#5A5B76;
    color:#1b9bff;
    z-index: 4;
    display: grid;
    align-items: center;
    justify-content: center; 
    place-items: center;
    -webkit-transition: var(--transition);
    transition: all ease 0.3s;
    /* add later */
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.show-sidebar {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.sidebar-links {
    text-align: center;
}

.sidebar-links a {
    font-size: 2rem;
    text-transform: capitalize;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #1b9bff;
    letter-spacing: 0.25rem;
    display: inline-block;
    margin-bottom: 1.5rem;
}
.sidebar-links a:hover {
    color: white;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: white;
  cursor: pointer;
}
.close-btn:hover{
    color: #1b9bff;
}




/*navbar*/

/*BODY SECTION*/
.body-section{
    padding: 15px;
    text-align: center;
    background-color: white;
}
.body-section .body-section-contents{
    width: 90%;
    margin: auto;
}
.body-section .about-text{
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
}
.body-section .about-text h3{
    padding-bottom: 16px;
}
.body-section .about-text h1{
    padding-bottom: 16px;
    color:  #1b9bff;
    font-size: 48px;
}
.body-section .about-text p{
    line-height: 32px;
    font-size: 24px;
    width: 80%;
    margin: auto;
}
.about-ending-desk{
    display: flex;
    justify-content: space-evenly;
    margin:2.5rem 0;
}
.about-ending-item-desk img{
    height: 200px;
}
/* for mobile view start*/
.about-ending{
    display: flex;
    width: 200px;
    height: 230px;
    margin: auto;
    justify-content: space-evenly;
    /* border: 1px solid; */
    overflow: hidden;
    position: relative;
    margin-top: 2rem;
    padding: 0 24px;
    display: none;
}
.about-ending-slider{
    display: flex;
    width: 200px;
    position: absolute;
    transition: 1s all ease-in-out;
}
.about-ending-item{
    width: 100%;
    position: relative;
}
.about-ending-item a:hover{
    background-color: white;
}
.about-ending .about-ending-item img{
    height: 200px;
}
.home-arrows{
    position: absolute;
    top: 35%;
    left: 0;
    font-size: 60px;
    cursor: pointer;
}
.home-arrows.arrow-right{
    right: -90%;
}
.home-arrows.arrow-left{
    left: -5%;
}
/* for mobile view end*/


.body-map-container{
    padding-bottom: 16px;
}
/*FOOTER*/

.footer{
    text-align: center;
    margin-bottom: 0px;
    background-color:  #0b3d59;
    height: fit-content;
}
.footer-links{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    text-align: center;
}
.footer-links .link-items{
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    margin-left: 32px;
    color: white;
    margin-top: 8px;
}
.footer-links .link-items p{
    margin-bottom: 8px;
    text-transform: uppercase;
}
.right-drop, .left-drop{
    display: none;
}

.footer-links .link-items .drop-content{
    color: white;
    padding: 0px;
    font-weight: lighter;
    line-height: 24px;
    text-align: start;
}

.footer-links .link-items a:hover{
    background-color: transparent;
}
.footer-content{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content .footer-social{
    padding-bottom: 8px;
}
.footer-content .footer-social a{
    font-size: 24px;
    padding: 16px;
    color: white;
}

.footer-paragraph{
    color: white;
}
.footer-paragraph a{
    text-decoration: none;
    color: white;
}
.footer-paragraph a:hover{
    background-color: transparent;
}

/*KENYA.HTML*/
.open-text{
    width: 100%;
    box-shadow: 0 0 3px #000;
    padding: 8px 0;
    height: 10vh;
    margin-bottom: 16px;
    background-color: #eee;
    z-index: 1;
    transition: all 0.9s ease-in-out;
}
.open-text p{
    background-color: #1a84d7;
    width: fit-content;
    padding: 10px 11px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    margin-left: 3rem;
    margin-top: 1rem;

}
.open-text p:hover{
    transform: scale(1.1);
    background-color: #559ed7;
}
.iaeste-kenya .home-image{
    height: fit-content;
    width: 90%;
    margin:auto;
}
.iaeste-kenya .home-image img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.committee-text{
    width: 90%;
    margin: 2rem auto;
}
.committee-text p{
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
}
.committee-text a{
    text-decoration: underline;
}
.committee-text a:hover{
    background-color: transparent;
}
.member-text{
    text-align: center;
    margin-top: 46px;
}
.member-text i{
    font-size: 48px;
}
.member-text i:hover{
    transform: rotate(180deg);
    transition: all 0.9s ease-in-out;
}
.container{
    width: 50%;
    margin: 10px auto;
    max-height: 250px;
    min-height: 300px;
    position: relative;
    padding: 1rem 0;
  }
  .courasel{
    height: fit-content;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .slider{
    display: flex;
    height: 100%;
    width: 400%;
    transition: all 0.9s ease-in-out;
    position: relative;
  }
  .slider section{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider section a{
      display:  flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .slider section p{
      font-size: 20px;
      text-align: start;
      font-weight: 700;
  }
  .slider section img{
      height: 250px;
  }
  .arrows{
      display: flex;
      position: absolute;
      top: 50%;
      color: #555;
      height: 50px;
      width: 45px;
      text-align: center;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      font-size: 40px;
  }
  .left{
      left: 25px;
  }
  .right{
      right: 25px;
  }

  /*MEMBERSHIP*/
  .membership{
      width: 90%;
      margin: auto;
      border-bottom: 1px solid #ccc;
      padding-top: 16px;
  }
  .membership .membership-text p{
      line-height: 28px;
      padding-bottom: 16px;
  }
  .membership .membership-text span{
      font-size: 16px;
      cursor: pointer;
  }
  .membership .membership-text a{
      text-decoration: underline;
  }

/*CONTACT*/
.contact-container{
    margin: 2rem 0;
}
.contact{
    display: flex;
    justify-content: space-evenly;
}
.container-item{
    display: flex;
    margin-top: 0.5rem;
    text-align: start;
}
.container-item span{
    font-size: 16px;
    margin: 0 0.5rem;
}


/*STUDENT-SECTION MOBILE VIEW*/

.students-page{
    height: fit-content;
}

.students-contents-section .students-image{
    background-image: url("../assets/students.jpg");
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center;
    background-size: cover;
}
.students-text-section{
    position: absolute;
    background-color: rgba(9, 17, 22, 0.9);
    height: 80vh;
    width: 100%;
}
.students-contents-section .tittle{
    position: absolute;
    color: white;
    top: 15%;
    left: 5%;
    transform: translate(-15%, -10%);
    font-size: 30px;
    background-color: #1a84d7;
    padding: 2px 4px;
    border-radius: 5px;
}
.students-contents-section .students-text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    /* text-align: center; */
    width: 90%;
    transform: translate(-50%, -50%);
    line-height: 30px;
    font-size: 24px;
    font-weight: 900;
}
.apply{
    position: absolute;
    top: 70%;
    left: 40%;
    /* transform: translate(-50%, 0); */
    font-size: 24px;
    padding: 8px 24px;
    background-color: #1b9bff;
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
    border: none;
}
.apply:hover{
    transform: scale(1.1);
}
.apply a{
    color: white;
    font-weight: 900;
}
.students-contents-section .students-text p{
    width: 75%;
    margin: auto;
    font-size: 22px;
    line-height: 32px;
}
.students-contents-section .students-body-section{
    width: 75%;
    margin: auto;
}

.students-body-section .abroad{
    display: flex;
    padding-bottom: 32px;
}
.students-body-section .abroad .icon-section{
    width: 20%;
    margin: auto;
    text-align: center;
    margin-right: 16px;
}
.students-body-section .abroad .icon-section i{
    font-size: 150px;
}
.students-body-section .abroad .abroad-content{
    padding-top: 40px;
}
.students-body-section .abroad .abroad-content p{
    font-size: 20px;
}
.students-body-section .abroad .abroad-content h3{
    font-size: 24px;
    padding-bottom: 16px;
}
.students-body-section .abroad .abroad-content h3{
    font-size: 24px;
    padding-bottom: 16px;
}
.students-body-section .abroad .abroad-content a{
    text-decoration: underline;
}
.students-body-section .abroad .abroad-content a:hover{
    background-color: transparent;
}


/*STUDENT INTERNSHIP SECTION*/
.internship .internship-header{
    padding-top: 15px;
    width: 90%;
    margin: auto;
}
.internship .internship-image{
    display: flex;
}
.internship-header .internship-image .div1{
    background-image: url("../assets/intern-work.jpeg");
    height: 60vh;
    background-repeat: no-repeat;
    width: 30%;
    background-position: center;
    background-size: cover;
    margin: 16px;
    overflow: hidden;
    position: relative;
}
.internship-header .internship-image .div2{
    background-image: url("../assets/intern-discover.jpeg");
    height: 60vh;
    background-repeat: no-repeat;
    width: 30%;
    background-position: center;
    background-size: cover;
    margin: 16px;
    overflow: hidden;
    position: relative;
}
.internship-header .internship-image .div3{
    background-image: url("../assets/intern-fren.jpeg");
    height: 60vh;
    background-repeat: no-repeat;
    width: 30%;
    background-position: center;
    background-size: cover;
    margin: 16px;
    overflow: hidden;
    position: relative;
}
.text{
    background: white;
    height: fit-content;
    position: absolute;
    top: 90%;
    transition: 0.5s ease-in-out;
    padding-bottom: 16px;
}
.text h2{
    padding-left: 10px;
    color: #1b9bff;
    font-size: 30px;
}
.text p{
    padding: 8px 0 8px 15px;
    border-bottom: 5px solid blue;
    border-radius: 5px;
}
.internship-contents{
    width: 90%;
    margin: auto;
}
.internship-contents p{
    margin-top: 8px;
    line-height: 24px;
}
.application-procedure{
    width: 80%;
    margin: auto;
    background: whitesmoke;
    margin-top: 16px;
}
.application-procedure .student-registration{
    padding: 16px;
    border-bottom: 5px solid #ccc;
}
.application-procedure .student-registration h3{
    text-align: center;
    font-size: 18px;
    padding-bottom: 8px;
}
.application-procedure .student-registration p{
    line-height: 27px;
}
.application-procedure .student-registration a{
    text-decoration: underline;
}
.student-application{
    width: 90%;
    margin: auto;
    padding: 16px 0px;
}

/*INTERNSHIP MOBILE VIEW SECTION DEVICES 768PX*/
.intern-mobile{
    width: 100%;
    overflow: hidden;
    display: none;
}
.intern-mobile .intern-mobile-image{
    display: flex;
    width: 300%;
    transition: 0.9s ease-in-out;
}
.intern-mobile .intern-mobile-image .image1{
    background-image: url("../assets/intern-work.jpeg");
    height: 60vh;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin: 16px;
    overflow: hidden;
    border-radius: 5px;
}
.intern-mobile .intern-mobile-image .image2{
    background-image: url("../assets/intern-discover.jpeg");
    height: 60vh;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin: 16px;
    overflow: hidden;
    border-radius: 5px;
}
.intern-mobile .intern-mobile-image .image3{
    background-image: url("../assets/intern-fren.jpeg");
    height: 60vh;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin: 16px;
    overflow: hidden;
    border-radius: 5px;
}
.mobile-text, .mobile-text1, .mobile-text2{
    background-color: white;
    position: relative;
    top: 60%;
    height: 40%;
    border-bottom: 5px solid blue;
    text-align: start;
    display: flex;
    flex-direction: column;
}
.mobile-text .intern-head,
 .mobile-text1 .intern-head,
 .mobile-text2 .intern-head{
    color: blue;
    font-size: 20px;
    margin: 8px 0px 0px 8px;
}

.mobile-text .intern-text,
.mobile-text1 .intern-text,
.mobile-text2 .intern-text,
.mobile-text3 .intern-text{
    text-align: start;
    font-size: 14px;
    width: 100%;
    margin-left: 8px;
    line-height: 22px;
}

.arrows-buttons{
    display: flex;
    color: blue;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
}
.arrows-buttons i{
    font-size: 20px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
.arrows-buttons p{
    font-size: 12px;
}


/*employers section*/
.employers-section{
    height: fit-content;
}
.employers-image-section{
    width: 100%;
    margin: auto;
    background: dodgerblue;
}
.employer-image-topic{
    font-size: 32px;
    padding: 24px;
    color: white;
}
.employer-image{
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    flex-wrap: wrap;
}
.employer-image img{
    height: 300px;
    width: auto;
    border-radius: 5px;
}
.employers-image-section .employer-topic{
    width: 85%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 32px;
    padding: 24px;
}
.icon-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}
.icon-section .icon-part{
    padding: 64px;
}
.icon-section .icon-part i{
    font-size: 200px;
}
.icon-section .icon-text-part{
    padding: 64px;
}
.icon-section .icon-text-part h3{
    padding-bottom: 16px;
}
.icon-section .icon-text-part .icon-link{
    text-decoration: underline;
}

/*Employer inter*/
.employer-intern-section{
    height: fit-content; 
    margin-bottom: 40px;
}
.employer-intern-section .opening-text{
    color: #0b3d59;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}
.employer-intern-section .content-container{
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 24px;
}
.employer-intern-section .section-one{
    width: 60%;
    margin-right: 32px;
}
.employer-intern-section .intern-open-image{
    background-image: url('../assets/employers3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    height: 72vh;
}
.section-two{
    padding-left: 24px;
}
.section-two .section-two-heading{
    color: #0b3d59;
    font-size: 18px;
    text-decoration: underline;
}
.intern-open-body-text .employer-registration a{
    text-decoration: underline;
}
.contact-us-section{
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 24px;
}
.container-contact-items .container-item{
    display: flex;
    padding: 8px 8px;
    font-size: 12px;
}
.container-contact-items .container-item span{
    font-size: 12px;
    margin: 0px 4px;
}
/*Employer mobile view section*/
.employer-mobile-view{
    display: none;
}
.employer-mobile-view .employer-mobile-view-topic{
    margin: 40px 0px;
    padding: 4px 0px;
    color: white;
    background: #0b3d59;
    text-align: center;
}
.employer-mobile-view .employer-mobile-view-text{
    text-align: center;
    font-size: 20px;
    padding: 24px 0px;
}


/*=========MOBILE VIEW=========*/

@media (max-width: 768px){
    /*NAV-MOBILE-VIEW*/
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  nav{
      max-width: 100%;
  }
}
@media (max-width: 768px){
  
  /*BODY SECTION MOBILE VIEW*/
  .body-section .body-section-contents{
      width: 100%;
      margin: auto;
  }
  .body-section-contents .about-text h1{
      font-size: 24px;
      font-weight: 700;
  }
  .body-section-contents .about-text p{
      font-size: 12px;
      line-height: 15px;
      padding-bottom: 14px;
      padding-top: 14px;
      width: 100%;
      margin: auto;
      border-top: 1px solid #ccc;
  }
  .about-ending{
    display: flex;
}
.about-ending-desk{
    display: none;
}
  .footer{
      padding-bottom: 16px;
      text-align: start;
      max-width: 100%;
  }
  .footer-links{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: auto;
  }
  .footer-links .link-items{
    padding-left: 0;
    margin-left: 0px;
    border-bottom: 1px solid #555;
    width: 100%;
    padding-bottom: 0.5rem;
  }
  .right-drop{
    float: right;
    margin-right: 1rem;
    font-size: 30px;
    display: block;
}
.left-drop{
    float: right;
    margin-right: 1rem;
    font-size: 30px;
    display: none;
}
.footer-links .link-items .drop-content{
    color: white;
    padding: 0px;
    font-size: 13px;
    margin-left: 1.5rem;
    font-weight: normal;
    font-weight: lighter;
    line-height: 24px;
    text-align: start;
    display: none;
}
  .footer-links .link-items p{
      font-size: 16px;
      text-align: start;
      padding-left: 1rem;
      margin-bottom: 0px;
  }

 /*IAESTE KENYA MOBILE VIEW*/
 .iaeste-kenya .home-image{
    height: fit-content;
    width: 100%;
    border-radius: none;
    margin:auto;
}
.iaeste-kenya .home-image img{
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 0px;
}
.home-image figure{
    font-size: 12px;
}
.home-image figure figcaption{
    margin: 0 0 0 4px;
    line-height: 14px;
}
.open-text p{
    margin: 10px 0px 8px 8px;
    padding: 2px 8px;
}

 .committee-text{
    margin-top: 2rem;
    margin-left: 6px;
    margin-right: 4px;
}
 .committee-text p{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
 }
 .container{
    width: 100%;
    margin: 10px auto;
    height: 150px;
  }

  .slider section p{
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    margin-top: 16px;
    text-align: center;
}
.slider section img{
    height: 100px;
}
.arrows{
    height: 40px;
    width: 35px;
}
.membership .membership-text p{
    line-height: normal;
    font-size: 14px;
    line-height: 22px;
}
.contact{
    display: flex;
    flex-direction: column;
}
.contact-map{
    width: 100%;
}
.section-container{
    margin-top: 2rem;
    margin-left: 1rem;
}
.container-item{
    font-size: 14px;
}


 /*STUDENTS MOBILE VIEW*/
 .students-contents-section .students-image{
    background-image: url("../assets/students.jpg");
    background-repeat: no-repeat;
    height: 65vh;
    background-position: center;
    background-size: cover;
}
.students-text-section{
    position: absolute;
    background-color: rgba(23,41,44, 0.9);
    height: 65vh;
    width: 100%;
}
.students-contents-section .tittle{
    top: 10%;
    left: 10%;
    font-size: 20px;
}
.students-contents-section .students-text{
    font-size: 16px;
    line-height: normal;
    width: 95%;
    text-align: center;
    line-height: 24px;
}
.apply{
    font-size: 12px;
    left: 35%;
    padding: 8px 16px;
    border: none;
    top: 78%;
}
.students-contents-section .students-body-section{
    width: 100%;
}
.students-body-section .abroad{
    display: flex;
    flex-direction: column;
}
.students-body-section .abroad .icon-section{
    width: 100%;
    text-align: center;
    margin-top: 16px;
}
.students-body-section .abroad .icon-section i{
    font-size: 80px;
}
.students-body-section .abroad .abroad-content h3{
    text-align: center;
    font-size: 17px;
    padding-bottom: 8px;
    margin-top: -24px;
}
.students-body-section .abroad .abroad-content p{
    width: 90%;
    margin: auto;
    font-size: 14px;
}
.students-body-section .abroad .abroad-content a{
    margin-left: 16px;
    font-size: 14px;
}
.students-body-section .abroad .abroad-content a:hover{
    background-color: transparent;
} 

/*INTERNSHIP ABROAD MOBILE VIEW*/

.internship-header{
    display: none;
}
.intern-mobile{
    display: block;
}
.internship-contents{
    width: 98%;
    margin: auto;
    padding-bottom: 16px;
}
.internship-contents p{
    font-size: 14px;
}
.internship-contents h2{
    font-size: 18px;
    padding-top: 16px;
}
.application-procedure{
    width: 98%;
    margin: auto;
}
.application-procedure .student-registration{
    width: 100%;
}
.application-procedure .student-registration p{
    font-size: 14px;
    line-height: 16px;
}
.student-application p{
    font-size: 14px;
}


/*EMPLOYERS MOBILE VIEW*/
.employers-image-section{
    display: none;
}
.employer-mobile-view{
    display: block;
}
.icon-section{
    display: flex;
    flex-direction: column;
}
.icon-section .icon-part{
    padding: 0px;
}
.icon-section .icon-text-part{
    padding: 0px;
    margin-bottom: 16px;
}
.icon-section .icon-text-part h3{
    margin-bottom: 8px;
    padding-bottom: 0px;
    text-align: center;
}

}
